
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Tweet</a>


<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Novo Tweet</h4>
    <textarea style="resize:none" rows="5" cols="3"></textarea>
  </div>
  <div class="modal-footer">
    <a type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Tweet</a>
  </div>
</div>



<div class="container">
  <ul>
    <% @tweets.each do |tweet| %>
        <li><%= tweet.description %></li>
    <% end %>
  </ul>
</div>
